In [1]:
#importing pyspark
import pyspark

In [2]:
#importing sparksession
from pyspark.sql import SparkSession

In [8]:
#creating a sparksession object and providing appName 
spark=SparkSession.builder.appName("business_case").getOrCreate()

In [4]:
#spark.stop()

In [10]:
#To create dataframe form External datasets
AirlineDF = spark.read.option("header", "true").csv("airlines1.csv")

In [11]:
# for all columns
AirlineDF.columns

['_c0',
 'Year',
 'Quarter',
 'Month',
 'DayofMonth',
 'DayOfWeek',
 'FlightDate',
 'Reporting_Airline',
 'DOT_ID_Reporting_Airline',
 'IATA_CODE_Reporting_Airline',
 'Tail_Number',
 'Flight_Number_Reporting_Airline',
 'OriginAirportID',
 'OriginAirportSeqID',
 'OriginCityMarketID',
 'Origin',
 'OriginCityName',
 'OriginState',
 'OriginStateFips',
 'OriginStateName',
 'OriginWac',
 'DestAirportID',
 'DestAirportSeqID',
 'DestCityMarketID',
 'Dest',
 'DestCityName',
 'DestState',
 'DestStateFips',
 'DestStateName',
 'DestWac',
 'CRSDepTime',
 'DepTime',
 'DepDelay',
 'DepDelayMinutes',
 'DepDel15',
 'DepartureDelayGroups',
 'DepTimeBlk',
 'TaxiOut',
 'WheelsOff',
 'WheelsOn',
 'TaxiIn',
 'CRSArrTime',
 'ArrTime',
 'ArrDelay',
 'ArrDelayMinutes',
 'ArrDel15',
 'ArrivalDelayGroups',
 'ArrTimeBlk',
 'Cancelled',
 'CancellationCode',
 'Diverted',
 'CRSElapsedTime',
 'ActualElapsedTime',
 'AirTime',
 'Flights',
 'Distance',
 'DistanceGroup',
 'CarrierDelay',
 'WeatherDelay',
 'NASDelay',
 'SecurityDelay',
 'LateAircraftDelay',
 'FirstDepTime',
 'TotalAddGTime',
 'LongestAddGTime',
 'DivAirportLandings',
 'DivReachedDest',
 'DivActualElapsedTime',
 'DivArrDelay',
 'DivDistance',
 'Div1Airport',
 'Div1AirportID',
 'Div1AirportSeqID',
 'Div1WheelsOn',
 'Div1TotalGTime',
 'Div1LongestGTime',
 'Div1WheelsOff',
 'Div1TailNum',
 'Div2Airport',
 'Div2AirportID',
 'Div2AirportSeqID',
 'Div2WheelsOn',
 'Div2TotalGTime',
 'Div2LongestGTime',
 'Div2WheelsOff',
 'Div2TailNum',
 'Div3Airport',
 'Div3AirportID',
 'Div3AirportSeqID',
 'Div3WheelsOn',
 'Div3TotalGTime',
 'Div3LongestGTime',
 'Div3WheelsOff',
 'Div3TailNum',
 'Div4Airport',
 'Div4AirportID',
 'Div4AirportSeqID',
 'Div4WheelsOn',
 'Div4TotalGTime',
 'Div4LongestGTime',
 'Div4WheelsOff',
 'Div4TailNum',
 'Div5Airport',
 'Div5AirportID',
 'Div5AirportSeqID',
 'Div5WheelsOn',
 'Div5TotalGTime',
 'Div5LongestGTime',
 'Div5WheelsOff',
 'Div5TailNum']

In [12]:
AirlineDF.show()

22/12/13 16:49:41 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
22/12/13 16:49:41 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
 Schema: _c0, Year, Quarter, Month, DayofMonth, DayOfWeek, FlightDate, Reporting_Airline, DOT_ID_Reporting_Airline, IATA_CODE_Reporting_Airline, Tail_Number, Flight_Number_Reporting_Airline, OriginAirportID, OriginAirportSeqID, OriginCityMarketID, Origin, OriginCityName, OriginState, OriginStateFips, OriginStateName, OriginWac, DestAirportID, DestAirportSeqID, DestCityMarketID, Dest, DestCityName, DestState, DestStateFips, DestStateName, DestWac, CRSDepTime, DepTime, DepDelay, DepDelayMinutes, DepDel15, DepartureDelayGroups, DepTimeBlk, TaxiOut, WheelsOff, WheelsOn, TaxiIn, CRSArrTime, ArrTime, ArrDelay, ArrDelayMinutes, ArrDel15, ArrivalDelayGroups, ArrTimeBlk, Cancelled, CancellationCode, Diverted, CRSElapsedTime, ActualElapsedTime, AirTime, Flights, Distance, DistanceGroup, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay, FirstDepTime, TotalAddGTime, LongestAddGTime, DivAirportLandings, DivReachedDest, DivActualElapsedTime, DivArrDelay, DivDistance, Div1Airport, Div1AirportID, Div1AirportSeqID, Div1WheelsOn, Div1TotalGTime, Div1LongestGTime, Div1WheelsOff, Div1TailNum, Div2Airport, Div2AirportID, Div2AirportSeqID, Div2WheelsOn, Div2TotalGTime, Div2LongestGTime, Div2WheelsOff, Div2TailNum, Div3Airport, Div3AirportID, Div3AirportSeqID, Div3WheelsOn, Div3TotalGTime, Div3LongestGTime, Div3WheelsOff, Div3TailNum, Div4Airport, Div4AirportID, Div4AirportSeqID, Div4WheelsOn, Div4TotalGTime, Div4LongestGTime, Div4WheelsOff, Div4TailNum, Div5Airport, Div5AirportID, Div5AirportSeqID, Div5WheelsOn, Div5TotalGTime, Div5LongestGTime, Div5WheelsOff, Div5TailNum
Expected: _c0 but found:
CSV file: file:///Users/sunilparcha/Documents/DE%20Code/spark-fundamentals/Advance/airlines1.csv
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|_c0|Year|Quarter|Month|DayofMonth|DayOfWeek|FlightDate|Reporting_Airline|DOT_ID_Reporting_Airline|IATA_CODE_Reporting_Airline|Tail_Number|Flight_Number_Reporting_Airline|OriginAirportID|OriginAirportSeqID|OriginCityMarketID|Origin|      OriginCityName|OriginState|OriginStateFips|OriginStateName|OriginWac|DestAirportID|DestAirportSeqID|DestCityMarketID|Dest|        DestCityName|DestState|DestStateFips| DestStateName|DestWac|CRSDepTime|DepTime|DepDelay|DepDelayMinutes|DepDel15|DepartureDelayGroups|DepTimeBlk|TaxiOut|WheelsOff|WheelsOn|TaxiIn|CRSArrTime|ArrTime|ArrDelay|ArrDelayMinutes|ArrDel15|ArrivalDelayGroups|ArrTimeBlk|Cancelled|CancellationCode|Diverted|CRSElapsedTime|ActualElapsedTime|AirTime|Flights|Distance|DistanceGroup|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|FirstDepTime|TotalAddGTime|LongestAddGTime|DivAirportLandings|DivReachedDest|DivActualElapsedTime|DivArrDelay|DivDistance|Div1Airport|Div1AirportID|Div1AirportSeqID|Div1WheelsOn|Div1TotalGTime|Div1LongestGTime|Div1WheelsOff|Div1TailNum|Div2Airport|Div2AirportID|Div2AirportSeqID|Div2WheelsOn|Div2TotalGTime|Div2LongestGTime|Div2WheelsOff|Div2TailNum|Div3Airport|Div3AirportID|Div3AirportSeqID|Div3WheelsOn|Div3TotalGTime|Div3LongestGTime|Div3WheelsOff|Div3TailNum|Div4Airport|Div4AirportID|Div4AirportSeqID|Div4WheelsOn|Div4TotalGTime|Div4LongestGTime|Div4WheelsOff|Div4TailNum|Div5Airport|Div5AirportID|Div5AirportSeqID|Div5WheelsOn|Div5TotalGTime|Div5LongestGTime|Div5WheelsOff|Div5TailNum|
+---+----+-------+-----+----------+---------+----------+-----------------+------------------------+---------------------------+-----------+-------------------------------+---------------+------------------+------------------+------+--------------------+-----------+---------------+---------------+---------+-------------+----------------+----------------+----+--------------------+---------+-------------+--------------+-------+----------+-------+--------+---------------+--------+--------------------+----------+-------+---------+--------+------+----------+-------+--------+---------------+--------+------------------+----------+---------+----------------+--------+--------------+-----------------+-------+-------+--------+-------------+------------+------------+--------+-------------+-----------------+------------+-------------+---------------+------------------+--------------+--------------------+-----------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+-----------+-------------+----------------+------------+--------------+----------------+-------------+-----------+
|  0|1998|      1|    1|         2|        5|1998-01-02|               NW|                   19386|                         NW|     N297US|                            675|          13487|           1348701|             31650|   MSP|     Minneapolis, MN|         MN|           27.0|      Minnesota|       63|        14869|         1486902|           34614| SLC|  Salt Lake City, UT|       UT|         49.0|          Utah|     87|      1640| 1659.0|    19.0|           19.0|     1.0|                 1.0| 1600-1659|   24.0|   1723.0|  1856.0|   3.0|      1836| 1859.0|    23.0|           23.0|     1.0|               1.0| 1800-1859|      0.0|            null|     0.0|         176.0|            180.0|  153.0|    1.0|   991.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  1|2009|      2|    5|        28|        4|2009-05-28|               FL|                   20437|                         FL|     N946AT|                            671|          13342|           1334202|             33342|   MKE|       Milwaukee, WI|         WI|           55.0|      Wisconsin|       45|        13204|         1320401|           31454| MCO|         Orlando, FL|       FL|         12.0|       Florida|     33|      1204| 1202.0|    -2.0|            0.0|     0.0|                -1.0| 1200-1259|   10.0|   1212.0|  1533.0|   8.0|      1541| 1541.0|     0.0|            0.0|     0.0|               0.0| 1500-1559|      0.0|            null|     0.0|         157.0|            159.0|  141.0|    1.0|  1066.0|            5|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  2|2013|      2|    6|        29|        6|2013-06-29|               MQ|                   20398|                         MQ|     N665MQ|                           3297|          11921|           1192102|             31921|   GJT|  Grand Junction, CO|         CO|            8.0|       Colorado|       82|        11298|         1129803|           30194| DFW|Dallas/Fort Worth...|       TX|         48.0|         Texas|     74|      1630| 1644.0|    14.0|           14.0|     0.0|                 0.0| 1600-1659|    9.0|   1653.0|  1936.0|   6.0|      1945| 1942.0|    -3.0|            0.0|     0.0|              -1.0| 1900-1959|      0.0|            null|     0.0|         135.0|            118.0|  103.0|    1.0|   773.0|            4|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  3|2010|      3|    8|        31|        2|2010-08-31|               DL|                   19790|                         DL|     N6705Y|                           1806|          12892|           1289201|             32575|   LAX|     Los Angeles, CA|         CA|            6.0|     California|       91|        11433|         1143301|           31295| DTW|         Detroit, MI|       MI|         26.0|      Michigan|     43|      1305| 1305.0|     0.0|            0.0|     0.0|                 0.0| 1300-1359|   23.0|   1328.0|  2008.0|   7.0|      2035| 2015.0|   -20.0|            0.0|     0.0|              -2.0| 2000-2059|      0.0|            null|     0.0|         270.0|            250.0|  220.0|    1.0|  1979.0|            8|        null|        null|    null|         null|             null|        null|         null|           null|               0.0|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  4|2006|      1|    1|        15|        7|2006-01-15|               US|                   20355|                         US|     N504AU|                            465|          11618|           1161801|             31703|   EWR|          Newark, NJ|         NJ|           34.0|     New Jersey|       21|        11057|         1105702|           31057| CLT|       Charlotte, NC|       NC|         37.0|North Carolina|     36|      1820| 1911.0|    51.0|           51.0|     1.0|                 3.0| 1800-1859|   19.0|   1930.0|  2050.0|   8.0|      2026| 2058.0|    32.0|           32.0|     1.0|               2.0| 2000-2059|      0.0|            null|     0.0|         126.0|            107.0|   80.0|    1.0|   529.0|            3|         0.0|         0.0|     0.0|          0.0|             32.0|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  5|1995|      4|   11|        29|        3|1995-11-29|               DL|                   19790|                         DL|     N925DL|                           1198|          11298|           1129802|             30194|   DFW|Dallas/Fort Worth...|         TX|           48.0|          Texas|       74|        14814|         1481401|           30476| SHV|      Shreveport, LA|       LA|         22.0|     Louisiana|     72|       639|  639.0|     0.0|            0.0|     0.0|                 0.0| 0600-0659|   29.0|    708.0|   736.0|   5.0|       730|  741.0|    11.0|           11.0|     0.0|               0.0| 0700-0759|      0.0|            null|     0.0|          51.0|             62.0|   28.0|    1.0|   190.0|            1|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|
|  6|2006|      3|    8|         7|        1|2006-08-07|               CO|                   19704|                         CO|     N27724|                           1431|          10721|           1072101|             30721|   BOS|          Boston, MA|         MA|           25.0|  Massachusetts|       13|        11042|         1104201|           30647| CLE|       Cleveland, OH|       OH|         39.0|          Ohio|     44|      1755| 1751.0|    -4.0|            0.0|     0.0|                -1.0| 1700-1759|   33.0|   1824.0|  1958.0|   4.0|      2000| 2002.0|     2.0|            2.0|     0.0|               0.0| 2000-2059|      0.0|            null|     0.0|         125.0|            131.0|   94.0|    1.0|   563.0|            3|        null|        null|    null|         null|             null|        null|         null|           null|              null|          null|                null|       null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|       null|         null|            null|        null|          null|            null|         null|       null|

# create multiple dataframes as per data information

In [ ]:
AirlineTimeInfo = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , "FlightDate" )
AirlineInfo = AirlineDF.select("_c0","Reporting_Airline","DOT_ID_Reporting_Airline", "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline" )
AirlineOriginInfo = AirlineDF.select("_c0","OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", "OriginWac" )
AirlineDestinationInfo = AirlineDF.select("_c0","DestAirportID","DestAirportSeqID", "DestCityMarketID", "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", "DestWac" )
AirlineDepartureInfo = AirlineDF.select("_c0","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff" )
AirlineArrivalInfo = AirlineDF.select("_c0","WheelsOn","TaxiIn", "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", "ArrivalDelayGroups", "ArrTimeBlk" )
AirlineCanDivInfo = AirlineDF.select("_c0","Cancelled","CancellationCode", "Diverted" )
AirlineSummry = AirlineDF.select("_c0","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", "Distance" , "DistanceGroup" )
AirlineDelayInfo = AirlineDF.select("_c0","CarrierDelay","WeatherDelay", "NASDelay", "SecurityDelay", "LateAircraftDelay" )

In [ ]:
#AirlineTimeInfo.summary().show()
AirlineTimeInfo.show()

In [13]:
# calculate total no of flights
AirlineTimeInfo.select('_c0').count()

NameError: name 'AirlineTimeInfo' is not defined

In [ ]:
# select year form 2000 to 2020
AirlineTimeInfo.select('Year','FlightDate').filter((AirlineTimeInfo.Year >= 2015) & (AirlineTimeInfo.Year <= 2020)).show()

In [ ]:
AirlineInfo.show()

In [ ]:
#AirlineInfo.select('IATA_CODE_Reporting_Airline').groupBy('IATA_CODE_Reporting_Airline').count().show()
## Group data by Carrier which is Reporting_Airline
AirlineInfo.select('Reporting_Airline').groupBy('Reporting_Airline').count().show()

In [ ]:
CarrierDF = spark.read.option("header", "true").csv("carriers.csv")

In [ ]:
CarrierDF.show(200)

In [ ]:
AirlineOriginInfo.show(5)

In [ ]:
AirlineDestinationInfo.show(5)

In [ ]:
AirlineDepartureInfo.show(5)

In [ ]:
#find flights 15 min or more than 15 min delay departure
AirlineDepartureInfo.select('_c0','DepDelayMinutes').filter("DepDelayMinutes < 15").show()

In [ ]:
# calculate total no of departure delay flights (15 min or more than 15 min delay)
AirlineDepartureInfo.select('DepDelayMinutes').filter("DepDelayMinutes >= 15").count()

In [ ]:
AirlineArrivalInfo.show(5)

In [ ]:
#find flights 15 min or more than 15 min delay Arrive
AirlineArrivalInfo.select('_c0','ArrDelayMinutes').filter("ArrDelayMinutes >= 15").show()

In [ ]:
#calculate total no of Arrival delay flights (15 min or more than 15 min delay)
AirlineArrivalInfo.select('ArrDelayMinutes').filter("ArrDelayMinutes >= 15").count()

In [ ]:
AirlineCanDivInfo.show(5)

In [ ]:
#calculate total number of cancelled flights
AirlineCanDivInfo.select('Cancelled').filter("Cancelled  == 1").count()

In [ ]:
#calculate total number of diverted flights
AirlineCanDivInfo.select('Diverted').filter("Diverted  == 1").count()

In [ ]:
AirlineSummry.show(5)

In [ ]:
AirlineDelayInfo.show(5)

In [ ]:
#calculate total no of CarrierDelay
AirlineDelayInfo.select('CarrierDelay').filter("CarrierDelay > 0").count()

In [ ]:
#calculate total no of WeatherDelay
AirlineDelayInfo.select('WeatherDelay').filter("WeatherDelay > 0").count()

In [ ]:
#calculate total no of NASDelay
AirlineDelayInfo.select('NASDelay').filter("NASDelay > 0").count()

In [ ]:
#calculate total no of SecurityDelay
AirlineDelayInfo.select('SecurityDelay').filter("SecurityDelay > 0").count()

In [ ]:
#calculate total no of LateAircraftDelay
AirlineDelayInfo.select('LateAircraftDelay').filter("LateAircraftDelay > 0").count()

# Joins

In [ ]:
# join two dataframe 
AirlineTimeInfo.join(AirlineInfo,AirlineTimeInfo._c0 ==  AirlineInfo._c0).show(2)

In [ ]:
# join three dataframe
AirlineTimeInfo.join(AirlineInfo,["_c0"]).join(AirlineCanDivInfo,AirlineTimeInfo["_c0"] == AirlineCanDivInfo["_c0"]).show(2)

In [ ]:
#join two dataframe query
DelayDF1 = AirlineTimeInfo.select('_c0','Year').filter((AirlineTimeInfo.Year >= 2000) & (AirlineTimeInfo.Year <= 2020)) \
.join(AirlineInfo.select('_c0','Reporting_Airline').groupBy('Reporting_Airline').count() \
      ,AirlineTimeInfo._c0 ==  AirlineInfo._c0,"inner").withColumnRenamed("count", "Total Flights")

In [ ]:
DelayDF1.show()

In [ ]:
#AirlineInfo.select('Reporting_Airline').distinct().show()

# Create DataFrame

In [15]:
AirlineDF5 = AirlineDF.select("_c0","Year","Quarter", "Month", "DayofMonth", "DayofWeek" , \
                              "FlightDate","Reporting_Airline","DOT_ID_Reporting_Airline", \
                              "IATA_CODE_Reporting_Airline", "Tail_Number", "Flight_Number_Reporting_Airline", \
                              "OriginAirportID","OriginAirportSeqID", "OriginCityMarketID", "Origin", \
                              "OriginCityName" , "OriginState", "OriginStateFips", "OriginStateName", \
                              "OriginWac","DestAirportID","DestAirportSeqID", "DestCityMarketID", \
                              "Dest", "DestCityName" , "DestState", "DestStateFips", "DestStateName", \
                              "DestWac","CRSDepTime","DepTime", "DepDelay", "DepDelayMinutes", "DepDel15" , \
                              "DepartureDelayGroups", "DepTimeBlk", "TaxiOut", "WheelsOff","WheelsOn","TaxiIn", \
                              "CRSArrTime", "ArrTime", "ArrDelay" , "ArrDelayMinutes", "ArrDel15", \
                              "ArrivalDelayGroups", "ArrTimeBlk","Cancelled","CancellationCode", \
                              "Diverted","CRSElapsedTime","ActualElapsedTime", "AirTime", "Flights", \
                              "Distance" , "DistanceGroup","CarrierDelay","WeatherDelay", "NASDelay", \
                              "SecurityDelay", "LateAircraftDelay" )

In [16]:
#group by carrier and count number of flights in each group
#AirlineDF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
#.groupBy('Reporting_Airline').count().show()

In [17]:
#AirlineDF5.select('Year','Reporting_Airline').filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
#.filter("Cancelled  == 1").groupBy('Reporting_Airline').count().show()

# Case Study 1 
Departure Delay Report for all flights from year 2000 to 2020 by carrier

In [18]:
# calculate total no of flights and  group data by Carrier
df1 = AirlineDF5.select('Year','Reporting_Airline') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)).groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Flights").orderBy("Reporting_Airline")

In [19]:
df1.show()

+-----------------+-------------+
|Reporting_Airline|Total Flights|
+-----------------+-------------+
|               9E|          518|
|               AA|         3620|
|               AS|          889|
|               B6|          905|
|               CO|          909|
|               DH|          168|
|               DL|         3938|
|               EV|         1749|
|               F9|          372|
|               FL|          622|
|               G4|           55|
|               HA|          304|
|               HP|          299|
|               KH|           42|
|               MQ|         2015|
|               NK|          213|
|               NW|         1202|
|               OH|          607|
|               OO|         2719|
|               TW|          123|
+-----------------+-------------+
only showing top 20 rows

In [20]:
#Calculate total no of Departure delay flights
df2 = AirlineDF5.select('Reporting_Airline','DepDelayMinutes') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("DepDelayMinutes >= 10").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Departure Delay Flights").orderBy("Reporting_Airline")

In [21]:
df2.show()

+-----------------+-----------------------------+
|Reporting_Airline|Total Departure Delay Flights|
+-----------------+-----------------------------+
|               9E|                           96|
|               AA|                          780|
|               AS|                          166|
|               B6|                          224|
|               CO|                          180|
|               DH|                           44|
|               DL|                          728|
|               EV|                          453|
|               F9|                           87|
|               FL|                          147|
|               G4|                           15|
|               HA|                           25|
|               HP|                           63|
|               KH|                            5|
|               MQ|                          445|
|               NK|                           50|
|               NW|                          225|
|               OH|                          137|
|               OO|                          546|
|               TW|                           21|
+-----------------+-----------------------------+
only showing top 20 rows

In [22]:
# calculate total no. of arrival delay flights
df3 = AirlineDF5.select('Reporting_Airline','ArrDelayMinutes') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("ArrDelayMinutes >= 10").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Arrival Delay Flights").orderBy("Reporting_Airline")

In [23]:
df3.show()

+-----------------+---------------------------+
|Reporting_Airline|Total Arrival Delay Flights|
+-----------------+---------------------------+
|               9E|                        106|
|               AA|                        891|
|               AS|                        198|
|               B6|                        235|
|               CO|                        240|
|               DH|                         50|
|               DL|                        831|
|               EV|                        485|
|               F9|                        110|
|               FL|                        161|
|               G4|                         16|
|               HA|                         39|
|               HP|                         87|
|               KH|                          6|
|               MQ|                        527|
|               NK|                         58|
|               NW|                        321|
|               OH|                        171|
|               OO|                        622|
|               TW|                         30|
+-----------------+---------------------------+
only showing top 20 rows

In [24]:
#calculate total no. of cancelled flights
df4 = AirlineDF5.select('Reporting_Airline','Cancelled') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("Cancelled  == 1").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Cancelled Flights").orderBy("Reporting_Airline")

In [25]:
df4.show()

+-----------------+-----------------------+
|Reporting_Airline|Total Cancelled Flights|
+-----------------+-----------------------+
|               9E|                     13|
|               AA|                     70|
|               AS|                     11|
|               B6|                     12|
|               CO|                     12|
|               DH|                      6|
|               DL|                     54|
|               EV|                     32|
|               F9|                      1|
|               FL|                      3|
|               HP|                      5|
|               MQ|                     82|
|               NK|                      3|
|               NW|                     20|
|               OH|                     14|
|               OO|                     58|
|               TW|                      3|
|               UA|                     52|
|               US|                     35|
|               VX|                      1|
+-----------------+-----------------------+
only showing top 20 rows

In [26]:
# calculate total no. of diverted flights
df5 = AirlineDF5.select('Reporting_Airline','Diverted') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("Diverted  == 1").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total Diverted Flights").orderBy("Reporting_Airline")

In [27]:
df5.show()

+-----------------+----------------------+
|Reporting_Airline|Total Diverted Flights|
+-----------------+----------------------+
|               AA|                     5|
|               AS|                     5|
|               B6|                     3|
|               CO|                     1|
|               DH|                     1|
|               DL|                     8|
|               EV|                    11|
|               FL|                     4|
|               G4|                     1|
|               MQ|                    10|
|               NW|                     4|
|               OH|                     1|
|               OO|                    10|
|               UA|                     7|
|               US|                     2|
|               VX|                     1|
|               WN|                    11|
|               XE|                     2|
|               YV|                     3|
+-----------------+----------------------+

In [28]:
# calculate total no. of carrier delay flights
df6 = AirlineDF5.select('Reporting_Airline','CarrierDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("CarrierDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total CarrierDelay Flights").orderBy("Reporting_Airline")

In [29]:
df6.show()

+-----------------+--------------------------+
|Reporting_Airline|Total CarrierDelay Flights|
+-----------------+--------------------------+
|               9E|                        33|
|               AA|                       277|
|               AS|                        40|
|               B6|                       125|
|               CO|                        49|
|               DH|                        13|
|               DL|                       243|
|               EV|                       206|
|               F9|                        36|
|               FL|                        32|
|               G4|                         8|
|               HA|                        18|
|               HP|                        14|
|               MQ|                       146|
|               NK|                        17|
|               NW|                        73|
|               OH|                        59|
|               OO|                       197|
|               TZ|                         1|
|               UA|                       213|
+-----------------+--------------------------+
only showing top 20 rows

In [30]:
# calculate total no. of weather delay flights
df7 = AirlineDF5.select('Reporting_Airline','WeatherDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("WeatherDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total WeatherDelay Flights").orderBy("Reporting_Airline")

In [31]:
df7.show()

+-----------------+--------------------------+
|Reporting_Airline|Total WeatherDelay Flights|
+-----------------+--------------------------+
|               9E|                         5|
|               AA|                        64|
|               AS|                         2|
|               B6|                         8|
|               CO|                        12|
|               DH|                         2|
|               DL|                        28|
|               EV|                        30|
|               F9|                         3|
|               FL|                         1|
|               G4|                         4|
|               HA|                         2|
|               MQ|                        43|
|               NK|                         2|
|               NW|                        15|
|               OH|                        24|
|               OO|                        23|
|               UA|                        19|
|               US|                        13|
|               VX|                         3|
+-----------------+--------------------------+
only showing top 20 rows

In [32]:
#calculate total no. of NAS delay flights
df8 = AirlineDF5.select('Reporting_Airline','NASDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("NASDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total NASDelay Flights").orderBy("Reporting_Airline")

In [33]:
df8.show()

+-----------------+----------------------+
|Reporting_Airline|Total NASDelay Flights|
+-----------------+----------------------+
|               9E|                    54|
|               AA|                   356|
|               AS|                    68|
|               B6|                   134|
|               CO|                   103|
|               DH|                    20|
|               DL|                   327|
|               EV|                   227|
|               F9|                    57|
|               FL|                    77|
|               G4|                     3|
|               HP|                    15|
|               MQ|                   235|
|               NK|                    44|
|               NW|                    97|
|               OH|                    84|
|               OO|                   219|
|               TZ|                     5|
|               UA|                   276|
|               US|                   174|
+-----------------+----------------------+
only showing top 20 rows

In [34]:
#calculate total no. of security delay flights
df9 = AirlineDF5.select('Reporting_Airline','SecurityDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("SecurityDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total SecurityDelay Flights").orderBy("Reporting_Airline")

In [35]:
df9.show()

+-----------------+---------------------------+
|Reporting_Airline|Total SecurityDelay Flights|
+-----------------+---------------------------+
|               AA|                          1|
|               AS|                          1|
|               B6|                          1|
|               DL|                          1|
|               NW|                          2|
|               OO|                          1|
|               TZ|                          1|
|               US|                          2|
|               VX|                          1|
|               WN|                          7|
|               XE|                          2|
|               YV|                          1|
+-----------------+---------------------------+

In [36]:
# calculate total no. of late aircraft delay flights
df10 = AirlineDF5.select('Reporting_Airline','LateAircraftDelay') \
.filter((AirlineDF5.Year >= 2000) & (AirlineDF5.Year <= 2020)) \
.filter("LateAircraftDelay > 0").groupBy('Reporting_Airline') \
.count().withColumnRenamed("count", "Total LateAircraftDelay Flights").orderBy("Reporting_Airline")

In [37]:
df10.show()

+-----------------+-------------------------------+
|Reporting_Airline|Total LateAircraftDelay Flights|
+-----------------+-------------------------------+
|               9E|                             35|
|               AA|                            286|
|               AS|                             43|
|               B6|                            111|
|               CO|                             37|
|               DH|                             16|
|               DL|                            214|
|               EV|                            178|
|               F9|                             43|
|               FL|                             64|
|               G4|                              8|
|               HA|                              9|
|               HP|                              6|
|               KH|                              3|
|               MQ|                            205|
|               NK|                             11|
|               NW|                             47|
|               OH|                             35|
|               OO|                            256|
|               TZ|                              2|
+-----------------+-------------------------------+
only showing top 20 rows

In [38]:
#df1.join(df2,df1.Reporting_Airline ==  df2.Reporting_Airline,"inner").show(2)

In [39]:
#df1.join(df2,["Reporting_Airline"])\
#.join(df3,df1["Reporting_Airline"] == df3["Reporting_Airline"])\
#.show(2)

In [40]:
# joining multiple dataframe
DelayReport = df1.alias("df1")\
.join(df2.alias("df2"),["Reporting_Airline"])\
.join(df3.alias("df3"),["Reporting_Airline"])\
.join(df4.alias("df4"),["Reporting_Airline"])\
.join(df5.alias("df5"),["Reporting_Airline"])\
.join(df6.alias("df6"),["Reporting_Airline"])\
.join(df7.alias("df7"),["Reporting_Airline"])\
.join(df8.alias("df8"),["Reporting_Airline"])\
.join(df9.alias("df9"),["Reporting_Airline"])\
.join(df10.alias("df10"),["Reporting_Airline"])

In [41]:
#complete delay report
DelayReport.show(5)

+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|Reporting_Airline|Total Flights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Diverted Flights|Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|Total SecurityDelay Flights|Total LateAircraftDelay Flights|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|               AA|         3620|                          780|                        891|                     70|                     5|                       277|                        64|                   356|                          1|                            286|
|               NW|         1202|                          225|                        321|                     20|                     4|                        73|                        15|                    97|                          2|                             47|
|               B6|          905|                          224|                        235|                     12|                     3|                       125|                         8|                   134|                          1|                            111|
|               DL|         3938|                          728|                        831|                     54|                     8|                       243|                        28|                   327|                          1|                            214|
|               OO|         2719|                          546|                        622|                     58|                    10|                       197|                        23|                   219|                          1|                            256|
+-----------------+-------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
only showing top 5 rows

In [42]:
#statistics of DelayReport
DelayReport.describe().show()

+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|summary|Reporting_Airline|     Total Flights|Total Departure Delay Flights|Total Arrival Delay Flights|Total Cancelled Flights|Total Diverted Flights|Total CarrierDelay Flights|Total WeatherDelay Flights|Total NASDelay Flights|Total SecurityDelay Flights|Total LateAircraftDelay Flights|
+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+
|  count|               11|                11|                           11|                         11|                     11|                    11|                        11|                        11|                    11|                         11|                             11|
|   mean|             null|2042.1818181818182|                        453.0|         489.54545454545456|      33.36363636363637|     4.909090909090909|                     164.0|         19.09090909090909|    179.72727272727272|         1.8181818181818181|             165.63636363636363|
| stddev|             null|1781.3471766155983|            463.1809581578241|          420.8960355328531|     24.475590809100918|    3.3601947995479504|        166.63493031174465|         18.40898989871278|     134.3897993964504|         1.7786613965666325|              190.2683750533823|
|    min|               AA|               101|                           23|                         28|                      1|                     1|                         6|                         2|                    12|                          1|                              8|
|    max|               YV|              5847|                         1633|                       1438|                     70|                    11|                       593|                        64|                   416|                          7|                            663|
+-------+-----------------+------------------+-----------------------------+---------------------------+-----------------------+----------------------+--------------------------+--------------------------+----------------------+---------------------------+-------------------------------+

In [44]:
# import windows library
import pyspark.sql.functions as f
from pyspark.sql.window import Window

In [46]:
# calculate result in percentage
df123 = DelayReport\
.withColumn('depdelaypercent', f.col('Total Departure Delay Flights')/f.col('Total Flights')*100)\
.withColumn('arrdelaypercent', f.col('Total Arrival Delay Flights')/f.col('Total Flights')*100)\
.withColumn('cancelledpercent', f.col('Total Cancelled Flights')/f.col('Total Flights')*100)

In [47]:
#DelayReport.groupBy().max('Total Departure Delay Flights').show()

In [48]:
df123.select('Reporting_Airline','Total Flights','depdelaypercent','arrdelaypercent','cancelledpercent').show()

+-----------------+-------------+------------------+------------------+------------------+
|Reporting_Airline|Total Flights|   depdelaypercent|   arrdelaypercent|  cancelledpercent|
+-----------------+-------------+------------------+------------------+------------------+
|               AA|         3620| 21.54696132596685|24.613259668508285|1.9337016574585635|
|               NW|         1202|18.718801996672212| 26.70549084858569|1.6638935108153077|
|               B6|          905|24.751381215469614| 25.96685082872928|1.3259668508287292|
|               DL|         3938|18.486541391569325|21.102082275266632|1.3712544438801422|
|               OO|         2719|20.080912100036777|22.876057374034573|  2.13313718278779|
|               YV|          562| 25.26690391459075| 27.75800711743772| 3.202846975088968|
|               US|         1810|19.392265193370164| 24.53038674033149|1.9337016574585635|
|               XE|          871| 18.94374282433984| 25.37313432835821| 2.525832376578645|
|               AS|          889|18.672665916760405|22.272215973003377|1.2373453318335208|
|               VX|          101|22.772277227722775|27.722772277227726|0.9900990099009901|
|               WN|         5847| 27.92885240294168|24.593808790832906|1.1287839917906617|
+-----------------+-------------+------------------+------------------+------------------+

In [ ]:
#use dense rank for find top rankers by any cloumns
from pyspark.sql import Window
import pyspark.sql.functions as psf
wT_Flights = Window.orderBy(psf.desc("Total Flights")) 
testdf1 = DelayReport.withColumn(
    "Total Flights_rank", 
    psf.dense_rank().over(wT_Flights)
)

In [ ]:
# top 10 Carrier by numbers of flights
testdf1.show()

In [ ]:
testdf1.columns

In [ ]:
testdf1.select('Reporting_Airline','Total Flights','Total Flights_rank').show()